<mat-sidenav-container class="container-side">
  <mat-sidenav class="container-menu" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')" position="start">
    <mat-card-title>Isis Publicidade Ltda</mat-card-title>
    <mat-nav-list dense>
      <a mat-list-item routerLink="./">Inicio</a>
      <a mat-list-item routerLink="./client">Clientes</a>
      <a mat-list-item routerLink="./employee">Funcionarios</a>
      <a mat-list-item routerLink="./product">Produtos/Serviços</a>
      <a mat-list-item routerLink="./">Vendas</a>
      <a mat-list-item routerLink="./">Relatórios</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <button class="icon-button" mat-button (click)="sidenav.toggle()">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"/></svg>
    </button>

    <main class="container">
      <router-outlet></router-outlet>
    </main>

  </mat-sidenav-content>

</mat-sidenav-container>
