<section class="banner d-flex flex-column flex-grow-1">
  <div class="mask-image d-flex flex-column flex-grow-1 text-light">
    <div class="container d-flex flex-column flex-grow-1 justify-content-center">
      <div class="pt-3 d-flex flex-column flex-grow-1 justify-content-center col-sm-9">
        <h1 class="fs-3 font-monospace fw-normal">Nos preocupamos em entregar</h1>
        <h2 class="fs-3 font-monospace fw-bold">Soluções customizadas</h2>
        <p class="fs-6 fw-normal">Focamos em oferecer serviços de qualidade e ferramentas que agreguem
          valores a sua empresa.</p>
        <p class="fs-6 fw-normal w-75">Receba o contato dos nossos consultores de venda.</p>

        <form class="d-flex align-items-center" (ngSubmit)="sendEmail()">
          <input class="input-email" type="email" placeholder="E-mail para contato">
          <button mat-raised-button>Enviar</button>
        </form>
      </div>
    </div>
  </div>
</section>

<section class="d-flex align-items-center flex-wrap bg-gray p-4">
  <div class=" d-flex justify-content-lg-between flex-wrap flex-column">
    <div class="container d-flex flex-column col-sm-12 col-md-12 col-lg-12 justify-content-center">
      <p class="ff-opensans fs-5 font-title ">O que <span class="fw-bold">entregamos</span> aos nossos usuários</p>
    </div>
    <div class="vw-90 justify-content-center">
      <div class="d-flex flex-wrap justify-content-around">
        <div class="bg-gray col-sm-12 pe-3" style="width: 14rem;">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/lampada.gif" class="w-50 card-img-top img-fluid rounded" alt="Imagem de uma lampada">
          </div>
          <div class="card-body">
            <h5 class="font-title fs-6 text-center">Estratégia e planejamento</h5>
            <p class="card-text text-justify font-text">Atendimentos personalizados para ajudar sua empresa a alcançar seus
              objetivos de
              maneira eficiente e eficaz.</p>
          </div>
        </div>
        <div class="bg-gray col-sm-12 pe-3" style="width: 14rem;">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/grafico-de-linha.gif"
              class="card-img-top img-fluid rounded w-50 d-flex justify-content-sm-center"
              alt="Imagem de um grafico de linha">
          </div>
          <div class="card-body">
            <h5 class="font-title fs-6 text-center">Desenvolvimento rápido</h5>
            <p class="card-text text-justify font-text">Queremos ajudar você a lançar projetos no mercado com velocidade e
              qualidade
              excepcionais.</p>
          </div>
        </div>
        <div class="bg-gray col-sm-12 pe-3" style="width: 14rem;">
          <div class="d-flex justify-content-center">
            <img src="../../../assets/decisao-certa.gif"
              class="card-img-top img-fluid rounded w-50 d-flex justify-content-sm-center" alt="Imagem de uma lampada">
          </div>
          <div class="card-body">
            <h5 class="font-title fs-6 text-center">Produtos modernos</h5>
            <p class="card-text text-justify font-text">Produtos criados com a mais alta tecnologia disponível no mercado,
              garantindo
              qualidade e desempenho para atender às suas necessidades.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
